@import url('fonts.css');
@import url('reset.css');
@import url('form.css');


body {
    background: #46495C;
    font-family: "Open Sans";

}

.main {
    margin: 0 auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

